[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "phase12designs"]
	path = phase12designs
	url = https://github.com/cran/phase12designs
